<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <header>
      <div class="banner">
        <h1 class="colored">W<h1 class="coloring">INNER</h1></h1>
      </div>
      <nav class="top-nav menu">
        <div class="top-nav-item"><ul><a href="http://localhost:3000/">Главная</a></ul></div>
        <div class="top-nav-item"><ul><a href="#">О нас</a></ul></div>
        <div class="top-nav-item"><ul><a href="#">Контакты</a></ul>
        </div><div class="top-nav-item"><ul><a href="/shopping-cart" class="popup-link">Корзина</a></ul></div>
      </nav>
      <div class="centering">
        <img
          src="https://en-sport-dush.astr.sportsng.ru/media/2018/07/30/1226396230/8135bd04f76c490115cc966e8f7bd2dc.jpg" height="500"/>
      </div>
    </header>